<p class="page"><i class="fa fa-bank"></i> Bancos</p>

<nav class="breadcrumb">
  <a href="<%= admin_banks_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> bancos
  </a>
  <a href="<%= admin_bank_accounts_path(@bank) %>" class="breadcrumb-item"><b><%= @bank.name %></b></a>
  <span class="breadcrumb-item active">cuenta nueva</span>
</nav>

<div class="row justify-content-lg-center">
  <div class="col-lg-6">
    <%= render 'form', account: @account %>
  </div>
</div>
