<table class="table">
  <thead>
    <tr>
      <th><i class="fa fa-calendar"></i></th>
      <th><i class="fa fa-database"></i></th>
      <th><i class="fa fa-dollar"></i></th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td><%= link_to formatted_date(order.created_at), admin_order_path(order) %></td>
        <td><%= btc_amount(order.amount) %></td>
        <td><%= number_to_currency(order.price, precision: 0) %></td>
      </tr>
    <% end %>
    <% if orders.count == 0 %>
      <tr>
        <td colspan="3"><center class="alert alert-secondary">No existen pedidos <b><%= type %></b></td>
      </tr>
    <% end %>
  </tbody>
</table>
