<% title 'Pedidos pendientes y nuevos' %>

<p class="page">
  <i class="fa fa-bitcoin"></i> Pedidos
  <a class="btn btn-sm btn-secondary" href="<%= history_admin_orders_path %>">
    <i class="fa fa-history"></i> Ver historial
  </a>
</p>


<p><b><i class="fa fa-folder-o text-danger"></i> Pendientes</b></p>
<%= render 'admin/orders/pending' %>

<hr>

<p><b><i class="fa fa-folder-o text-primary"></i> Nuevos</b></p>
<%= render 'admin/orders/new' %>

<hr>

<p><b><i class="fa fa-folder-o"></i> Expirados o cancelados recientemente</b></p>
<%= render 'admin/orders/expired' %>
