<% if notice or alert %>
  <% @style = 'alert-warning' if alert %>
  <div class="alert alert-success alert-dismissible fade show <%= @style %>">
    <button class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <% if notice %>
      <%= notice %>
    <% else %>
      <%= alert %>
    <% end %>
  </div>
<% end %>
