<% if notice or alert %>
  <div class="flash">
    <div class="container">
      <% @style = 'alert-warning' if alert %>
      <div class="alert alert-success alert-dismissible fade show <%= @style %>">
        <span class="close" data-dismiss="alert">&times;</span>
        <p>
        <% if notice %>
          <%= notice %>
        <% else %>
          <%= alert %>
        <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
