<!-- Google Code for Compras de Bitcoin Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 835088964;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "PJtmCPSb-XUQxOSZjgM";
var google_conversion_value = <%= @order.total %>;
var google_conversion_currency = "MXN";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript"
src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/835088964/?value=<%= @order.total %>&amp;currency_code=MXN&amp;label=PJtmCPSb-XUQxOSZjgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
