<div class="privacy text">
  <p>De conformidad con los dispuesto en la Ley Federal de Protección de Datos Personales (la
“Ley”) y en su Reglamento, BITAZTEC (el “Responsable”), con domicilio en la calle Av.
Moliere 50, Polanco, Granada, Ciudad de México, CDMX, México, con código postal 11550,
y designando a <a href="mailto:bitaztec@gmail.com">bitaztec@gmail.com</a> como correo electrónico autorizado, emite el presente
Aviso de Privacidad en los siguientes términos:</p>

  <p><b>I.</b> Datos personales recabados</p>

  <p>BITAZTEC recabará los siguientes datos personales (entendidos en términos del artículo
3, fracción V de la Ley) a través de solicitudes de registro o de declaraciones emitidas por
parte del Titular de los datos, o por cualquier otro medio físico, electrónico, sonoro o
audiovisual que BITAZTEC ponga a su disposición:</p>

  <p class="indented">
    <ul class="roman">
      <li>Correo Electrónico</li>
      <li>Contraseña.</li>
      <li>Dirección de Cartera Electrónica (Wallet).</li>
    </ul>
  </p>

  <p>BITAZTEC se reserva el derecho a actualizar sin previo aviso los campos de datos
requeridos en los diferentes portales de su dominio de internet bitaztec.com (el “Dominio”)
o en las comunicaciones dirigidas a sus Usuarios.</p>

  <p>Toda la información recabada por BITAZTEC se hará de manera directa, ya sea personal
o impersonalmente, sin tener acceso a ella en ningún momento a través de otros medios
indirectos como fuentes de acceso público o transferencias.</p>

  <p><b>II.</b> Datos personales sensibles</p>

  <p>Para el cumplimiento de sus cometidos, BITAZTEC recabará de manera directa y a través
de cualquier medio físico, electrónico, sonoro o audiovisual, diversos datos que son
considerados sensibles por la legislación mexicana (entendidos en términos del artículo 3,
fracción VI de la Ley), los cuales son:</p>

  <p class="indented">
    <ul class="roman">
      <li>Datos patrimoniales o financieros.</li>
      <li>Historial de transacciones dentro del Dominio.</li>
      <li>Dirección I.P.</li>
      <li>Versión de navegador y sistema operativo.</li>
      <li>Preferencias de idioma.</li>
    </ul>
  </p>

  <p>BITAZTEC se reserva el derecho a actualizar sin previo aviso los campos de datos
sensibles requeridos en su Dominio o en las comunicaciones dirigidas a sus Usuarios.</p>

  <p>Toda la información recabada por BITAZTEC se hará de manera directa, ya sea personal
o impersonalmente, sin tener acceso a ella en ningún momento a través de otros medios
indirectos como fuentes de acceso público o transferencias.</p>

  <p><b>III. </b> Tratamiento y finalidades</p>

  <p>Según lo establece la Ley, se entiende por “tratamiento” a la obtención, uso, divulgación o
almacenamiento de datos personales por cualquier medio. El concepto de “uso” abarca
todo acceso, manejo, aprovechamiento, transferencia o disposición de datos personales. </p>

  <p>En base a los datos personales sensibles y no sensibles recabados, BITAZTEC concederá
el registro y dará de alta a sus Usuarios dentro de su Dominio para así estar en posibilidad
de ofrecer sus productos y servicios de manera efectiva, lo que en su caso contribuirá al
origen y será necesario para la continuidad de la relación jurídica entre el Titular de los
datos y BITAZTEC.</p>

  <p>BITAZTEC tendrá la facultad de analizar y evaluar estadísticamente el historial de
transacciones e interacciones de los Usuarios dentro y fuera de su Dominio, con la finalidad
de ofrecer un mejor servicio en base a sus preferencias y realizar mediciones de tráfico web
según los criterios que estime convenientes.</p>

  <p>A través de la casilla de verificación contenida en el Aviso de Privacidad, el Titular podrá
negar o revocar su consentimiento, así como oponerse al tratamiento de sus datos
personales para las finalidades que sean distintas a las ya mencionadas, sin que ello tenga
como consecuencia la conclusión del tratamiento para las finalidades ya autorizadas. Dicha
opción permanecerá visible y accesible siempre que el Usuario ingrese a consultar el
presente Aviso. BITAZTEC solicitará el consentimiento del Titular de los datos personales
en caso requerirlos para fines distintos a los previstos.</p>

<p>BITAZTEC se reserva el derecho a elaborar bases de datos personales sensibles para toda
finalidad legítima, concreta y acorde con las actividades y fines explícitos que persiga, en
atención a lo dispuesto en el artículo 56, fracción III del Reglamento de la Ley.</p>

<p><b>IV. </b> Transferencia de los datos personales recabados:</p>

<p>BITAZTEC adopta e implementa serias medidas de seguridad técnica y administrativa para
la protección de los datos personales de sus Usuarios, a través de estrictas políticas y
estándares de control internos relativos al manejo, tratamiento y salvaguarda de la
información emitida que permitan proteger a los Titulares contra todo daño, pérdida,
alteración, acceso o uso no autorizado de la misma</p>

<p>Los datos recabados por BITAZTEC podrán ser transferidos a:</p>

<ul class="roman">
<li>Sociedades controladoras, subsidiarias o afiliadas de BITAZTEC, encargadas del
resguardo centralizado de la información, control de altas y bajas del registro de
empresas; así como de la realización de estadísticas de los Usuarios de BITAZTEC,
con el objeto de evaluar, mejorar y diseñar nuevos servicios o herramientas de
divulgación.</li>

<li>Prestadores de servicios, con la única y exclusiva finalidad de asistir a BITAZTEC
en el cumplimiento de su obligación jurídica con el Titular de los datos.</li>

<li>Autoridades administrativas, judiciales o gubernamentales de cualquier tipo en
México o en el extranjero, siempre que así se establezca por mandato judicial o
administrativo o que así sea dispuesto por una ley.</li>

<li>Terceros subcontratados por BITAZTEC, sean abogados, auditores, contadores o
encargados de sistemas que requieran procesar la información del Usuario por
instrucciones de BITAZTEC.</li>
</ul>

<p>Todos los terceros referidos en el listado anterior, adquieren las mismas obligaciones y
responsabilidades que BITAZTEC respecto a la salvaguarda de los datos personales
emitidos por el Titular. La transferencia de datos se llevará a cabo de acuerdo a las
finalidades establecidas en el presente Aviso. </p>

<p>Los datos personales del Titular no serán transferidos a terceros sin su consentimiento,
salvo las excepciones previstas en el artículo 37 de la Ley y en cumplimiento de las
condiciones previstas por en el artículo 17 de su Reglamento.</p>

<p><b>V.</b> Derechos de Acceso, Rectificación, Cancelación y Oposición (Derechos
ARCO) de datos personales</p>

<p>El Titular de los datos personales podrá por sí mismo o a través de su representante legal,
ejercer en cualquier momento los derechos de acceso, rectificación, cancelación y
oposición (Derechos Arco) de sus datos personales. Algunos de los datos personales
recabados pueden ser modificados de forma instantánea por el propio Titular, ingresando
a su perfil dentro del Dominio y actualizando la información contenida en los campos
correspondientes. En todos los demás casos, el Titular deberá dirigir una solicitud por
escrito, en los términos del artículo 29 de la Ley, al domicilio ya referido, o bien al correo
electrónico autorizado por BITAZTEC. </p>

<p>La solicitud deberá contener la siguiente información:</p>

<ul class="roman">
<li>Correo electrónico del Titular de los datos</li>
<li>Documentos que acrediten la personalidad del Titular o de su mandatario,
anexando copia y presentando su original para cotejo</li>
<li>Domicilio, teléfono, correo convencional y electrónico para recibir notificaciones</li>
<li>Descripción clara de los datos respecto de los cuales se busca ejercer el derecho</li>
correspondiente</li>
<li>Objeto de la solicitud</li>
<li>Cualquier medio que facilite la ubicación de los datos referidos</li>
</ul>

<p>BITAZTEC se compromete a emitir una respuesta al solicitante en un plazo no mayor a 30
días naturales contados a partir de la fecha de recepción de la solicitud, el cual podría ser
ampliado por un periodo igual si las circunstancias así lo requirieran. La entrega de los datos
se hará de manera gratuita, ya sea de manera electrónica o física, debiendo cubrir el Titular
únicamente lo referente a gastos justificados de envío o copias</p>

<p><b>VI.</b> Mecanismos y medios para la revocación del consentimiento</p>

<p>El Titular de los datos personales podrá, por sí mismo o a través de su representante legal,
ejercer en cualquier momento el derecho a revocar su consentimiento al tratamiento de sus
datos, para lo que deberá dirigir una solicitud por escrito, en los términos del artículo 29 de
la Ley, al domicilio ya referido, o bien al correo electrónico autorizado por BITAZTEC. </p>

<p>La solicitud deberá contener la siguiente información:</p>

<ul class="roman">
<li>Correo electrónico del Titular de los datos.</li>
Documentos que acrediten la personalidad del Titular o de su mandatario,
anexando copia y presentando su original para cotejo.</li>
<li>Domicilio, teléfono, correo convencional y electrónico para recibir notificaciones</li>
<li>Descripción clara de los datos respecto de los cuales se busca ejercer el derecho</li>
revocación de consentimiento.</li>
<li>Objeto de la solicitud.</li>
<li>Cualquier medio que facilite la ubicación de los datos referidos</li>
</ul>

<p>BITAZTEC se compromete a emitir una respuesta al solicitante en un plazo no mayor a 30
días naturales contados a partir de la fecha de recepción de la solicitud, el cual podría ser
ampliado por un periodo igual si las circunstancias así lo requirieran.</p>

<p><b>VII.</b> Uso de cookies, web beacons u otras tecnologías similares</p>

<p>BITAZTEC, podrá implementar dentro de su Dominio, el uso de cookies, web beacons u
otras tecnologías similares, que le permitan recabar datos personales de manera
automática y simultánea al tiempo que el Titular hace contacto con el sitio. En el momento
del primer contacto, BITAZTEC informará al Usuario, a través de una comunicación visible,
sobre la existencia de dichas tecnologías y sus características, así como sobre los
mecanismos para deshabilitarlas en caso de ser posible.</p>

<p><b>VIII.</b> Cambios, enmiendas y modificaciones al Aviso de Privacidad</p>

<p>El presente Aviso de Privacidad podrá ser sustituido, enmendado o modificado en cualquier
momento por BITAZTEC, con la finalidad de atender a novedades legislativas,
jurisprudenciales, políticas internas, así como nuevos requerimientos necesarios para la
prestación de sus servicios. En caso de ocurrir cambios, enmiendas o modificaciones,
BITAZTEC podrá hacerlas del conocimiento de sus Usuarios a través de anuncios,
comunicaciones o notificaciones publicadas en su Dominio, o dirigidas personalmente a sus
Usuarios a través de los correos electrónicos proporcionados. Al ingresar el Usuario al
Dominio con posterioridad a la fecha de la publicación de las modificaciones al presente
Aviso, se entenderá que otorga tácitamente su consentimiento a las mismas.</p>

<p><b>IX.</b> Consentimiento</p>

<p>En términos de lo dispuesto en la Ley y su Reglamento, y sin que medie error, mala fe o
dolo, el Usuario manifiesta su conformidad con el presente Aviso de Privacidad y su
consentimiento para que sus datos personales sean tratados en concordancia con lo
expuesto en el mismo.</p>

</div>
