<div class="terms text active">
  <p>BitAztec S.A de C.V mediante el presente documento, describe los términos y condiciones generales (los “Términos y Condiciones”), que regulan la puesta a disposición de la información y servicios que se proporcionan a los usuarios (los “Usuarios”) a través de su sitio web, cuyo dominio es www.bitaztec.com (en lo sucesivo referido de forma indistinta como el “Dominio” o el “Sitio Web”). Cualquier persona que exprese su intención de acceder y/o utilizar los servicios ofrecidos en el Dominio estará sujeto a lo dispuesto por estos Términos y Condiciones, además de todas las políticas y principios que son incorporados por referencia.</p>

  <p><b>1.</b> Reservas</p>
  <p class="indented"><b>1.1</b>
    BitAztec manifiesta ser el único titular del presente Dominio, por lo que queda reservada a su favor la facultad de efectuar en cualquier momento, sin necesidad de aviso previo al Usuario, modificaciones, eliminación de contenido o servicios y actualizaciones de la información contenida en el mismo, así como de la configuración o formato de éste.
  </p>

  <p><b>2.</b> Usuarios</p>
  <p class="indented"><b>2.1</b>
    La utilización del Dominio o de cualquiera de los contenidos incluidos en él, significa la aceptación del Usuario sin reserva alguna de todas y cada una de las condiciones generales que conforman los presentes Términos y Condiciones.
  </p>
  <p class="indented"><b>2.2</b>
    En caso de que el Usuario no acepte de manera entera y absoluta los Términos y Condiciones, cuyo carácter es obligatorio y vinculante, deberá abstenerse de acceder al Dominio y/o hacer uso de los Servicios.
  </p>
  <p class="indented"><b>2.3</b>
    Al aceptar los presentes Términos y Condiciones el Usuario asienta que ha leído todas las condiciones establecidas en los mismos, además del Aviso de Privacidad y todos los documentos incorporados por referencia.
  </p>

  <p><b>3.</b> Condiciones de uso</p>
  <p class="indented"><b>3.1</b>
    El Usuario se obliga a utilizar el Dominio, así como su contenido, de forma diligente y de conformidad con las leyes mexicanas, y a conducirse con apego a la moral y las buenas costumbres, el orden público, así como por lo dispuesto en los presentes Términos y Condiciones, por lo que deberá abstenerse de utilizarlos en cualquier forma que pudiera impedir el normal funcionamiento y disfrute por parte de los Usuarios del Dominio, o de forma alguna en que pudiera lesionar o causar daños a los bienes y derechos de BitAztec, de sus clientes presentes o potenciales, Usuarios y cualquier otro tercero.
  </p>

  <p class="indented"><b>3.2</b>
    Las finalidades del Dominio se limitan a la compraventa y transferencia de Bitcoins, siendo BitAztec el vendedor y el Usuario el comprador dentro de la transacción. Asimismo, BitAztec podrá exhibir sus productos y dar a conocer sus servicios al público en general o clientes potenciales.
  </p>

  <p class="indented"><b>3.3</b>
    Para efectos del presente acuerdo, por “Bitcoin” se entenderá como la moneda digital que forma parte de la red y el protocolo de la misma.
  </p>

  <p class="indented"><b>3.4</b>
    El Usuario del Dominio únicamente podrá acceder a los servicios ofrecidos por BitAztec a través de la cuenta de correo electrónico que designe voluntariamente.
  </p>

  <p class="indented"><b>3.5</b>
    Una vez registrado, el Usuario podrá realizar pedidos de Bitcoins dentro de los parámetros mínimos y máximos de adquisición fijados por BitAztec.
  </p>

  <p class="indented"><b>3.6</b>
    El usuario reconoce y acepta que todas las compras de Bitcoins realizadas en el dominio son finales y sin posibilidad de devolución o reembolso por parte de BitAztec.
  </p>

  <p class="indented"><b>3.7</b>
    Todas las transacciones realizadas dentro del Dominio se harán en pesos mexicanos y a través de cualquiera de los medios de pago autorizados por BitAztec. En todos los casos será necesario que el Usuario proporcione su comprobante de pago en la forma que BitAztec estime conveniente.
  </p>

  <p class="indented"><b>3.8</b>
    Es requisito indispensable que el Usuario cuente con una cartera electrónica (Wallet) para poder recibir los Bitcoins comprados.
  </p>

  <p class="indented"><b>3.9</b>
    La duración del proceso de transferencia podrá variar de transacción a transacción y en todo momento será supervisado por un asesor.
  </p>

  <p><b>4.</b> Modificaciones a los Términos y Condiciones</p>
  <p class="indented"><b>4.1</b>
    BitAztec podrá modificar los presentes Términos y Condiciones en cualquier momento y de manera unilateral. Los Términos y Condiciones con sus modificaciones entrarán en vigor al día siguiente de la fecha de su publicación en el Dominio o de aquel en que fuesen notificados al Usuario a través del correo electrónico que para tal efecto hubiese proporcionado. El Usuario adquiere la total responsabilidad de leer cuidadosa y periódicamente los presentes Términos y Condiciones, así como sus modificaciones.
  </p>

  <p class="indented"><b>4.2</b>
    El Usuario contará con un plazo de 5 (cinco) días contados a partir de la fecha de publicación o notificación para manifestar su inconformidad a las modificaciones o enmiendas que pudieran acontecer a los presentes Términos y Condiciones, dirigiéndose por escrito al correo electrónico autorizado de BitAztec, lo que automáticamente lo inhabilitará como Usuario del Dominio.
  </p>

  <p class="indented"><b>4.3</b>
    Se entenderá que el Usuario consiente a las enmiendas o modificaciones al ingresar al Dominio con posterioridad al término previsto y sin haber manifestado su inconformidad.
  </p>

  <p class="indented"><b>4.4</b>
    De llegar a existir una obligación contractual de cualquier índole entre BitAztec y determinado Usuario, su inhabilitación como Usuario del Dominio no implicará la disolución de dicho vínculo.
  </p>

  <p><b>5.</b> Propiedad Intelectual e Industrial</p>
  <p class="indented"><b>5.1</b>
    BitAztec se ostenta como el titular de la totalidad del contenido creativo exhibido en el Dominio, correspondiente a patentes, modelos de utilidad, marcas, nombres de dominio, avisos comerciales, señas, textos, logotipos, combinaciones de colores, bases de datos o en general cualquier información o elemento distintivo contenido en el Dominio. Se prohíbe al Usuario modificar, alterar o suprimir, en forma total o parcial cualquier parte del contenido referido.
  </p>

  <p class="indented"><b>5.2</b>
    El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de BitAztec,según lo previsto en la Ley de la Propiedad Industrial.
  </p>

  <p class="indented"><b>5.3</b>
    Asimismo, queda prohibido para el Usuario realizar cualquier tipo de ingeniería inversa, sub-licenciar o transmitir de cualquier modo, traducir o realizar obras derivadas de los programas de ordenador necesarios para el funcionamiento, acceso y utilización de este Sitio Web y de los contenidos y servicios en ella incluidos, así como realizar, respecto de todo o parte de tales programas, cualesquiera de los actos de explotación referidos en el párrafo anterior. El Usuario del Dominio deberá abstenerse en todo caso de suprimir, alterar, eludir o manipular cualquier dispositivo de protección o sistemas que puedan estar instalados en la misma.
  </p>

  <p class="indented"><b>5.4</b>
    BitAztec se deslinda de toda responsabilidad derivada de actos, omisiones o malas prácticas que de buena o mala fe sus Usuarios realicen en perjuicio de los derechos de propiedad intelectual o industrial de terceros.
  </p>

  <p><b>6.</b> Datos Personales del Usuario</p>
  <p class="indented"><b>6.1</b>
    Los Usuarios están de acuerdo en completar con total veracidad, y validez aquellos rubros que BitAztec disponga para la transferencia de sus datos personales, relativos al tratamiento y finalidades descritas en el Aviso de Privacidad correspondiente. El Usuario se compromete a proporcionar la información antes descrita de manera exacta, precisa y verdadera; además de actualizarlos conforme resulte necesario.
  </p>

  <p class="indented"><b>6.2</b>
    Aquellos rubros de información que BitAztec disponga y que han quedado descritos en el párrafo anterior en lo sucesivo se les denominara como los “Datos Personales”.
  </p>

  <p class="indented"><b>6.3</b>
    El Usuario acepta y está consciente de su responsabilidad por la veracidad, exactitud, vigencia y autenticidad de sus Datos Personales. BitAztec podrá en cualquier momento iniciar los procedimientos legales y/o de verificación que a su criterio correspondan en caso de que considere que algún Usuario ha faltado a la obligación antes descrita.
  </p>

  <p class="indented"><b>6.4</b>
    BitAztec podrá valerse de todos los medios que estime convenientes para identificar a sus Usuarios, sin asumir responsabilidad alguna por la certeza de los datos provistos por los mismos, quienes deberán de probar y garantizar, en cualquier caso, la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.
  </p>

  <p class="indented"><b>6.5</b>
    Queda prohibido para el Usuario copiar, reproducir, descargar, republicar, vender, distribuir o revender cualquier tipo de información, texto, imagen, gráficos, videos, sonido, directorio, archivos, base de datos o listados, etc., disponibles en y/o a través del Dominio.
  </p>

  <p class="indented"><b>6.6</b>
    Queda prohibido cualquier intento sistemático para compilar directa o indirectamente, coleccionar base de datos o directorio del contenido del sitio (sea a través de robots, spiders, aparatos automáticos o procesos manuales) sin el consentimiento expreso de BitAztec. Queda prohibido todo uso del material o contenido en el Dominio para propósitos ajenos a los expresamente permitidos en los presentes Términos y Condiciones.
  </p>

  <p class="indented"><b>6.7</b>
    El Usuario acepta no tomar ninguna acción que pueda llegar a dañar la integridad de los sistemas de cómputo o redes del Dominio y/o de cualquier otro usuario que no cuente con acceso garantizado a tales sistemas de cómputo o redes.
  </p>

  <p><b>7.</b> Responsabilidad</p>

  <p class="indented"><b>7.1</b>
    BitAztec manifiesta su compromiso con el Usuario de garantizar la disponibilidad y continuidad del Dominio, así como de su contenido y herramientas, para que estos funcionen eficientemente en todo momento, con el propósito de que el Usuario pueda acceder a ellos y utilizarlos de forma rápida, ininterrumpida y libre de errores.
  </p>

  <p class="indented"><b>7.2</b>
    BitAztec no otorga garantía alguna respecto a la idoneidad y contenido del Dominio o de cualquiera de los servicios vinculados al mismo para la satisfacción de las necesidades específicas del Usuario.
  </p>

  <p class="indented"><b>7.3</b>
    BitAztec asegura que este Dominio se encuentra libre de todo tipo de contenido peligroso o inapropiado para menores de edad.
  </p>

  <p class="indented"><b>7.4</b>
    BitAztec examinará el Dominio continuamente en busca de la presencia de virus u otros elementos lesivos que pudieran causar alteraciones en el sistema informático del Usuario, en sus documentos electrónicos o en sus bases de datos. Sin embargo, BitAztec no garantiza la ausencia de tales elementos, por lo que no se hará responsable por los daños y perjuicios que ello pudiera llegar a ocasionar.
  </p>

  <p class="indented"><b>7.5</b>
    Cada Usuario acuerda y garantiza que deberá:
    <ul>
      <li>Llevar a cabo sus actividades dentro del Dominio en cumplimiento con la
legislación aplicable;</li>
      <li>No involucrar cualquier virus informático o aparatos destructivos y códigos que puedan afectar, dañar o interferir con la intercepción o expropiación de cualquier software o sistema de hardware, información o información personal;</li>
      <li>No involucrar ningún esquema que quebrante la integridad de la información, sistema o redes utilizados por BitAztec y/o cualquier Usuario de los sitios que no tenga autorización a acceder a dichos datos, sistemas o redes;</li>
    </ul>
  </p>

  <p class="indented"><b>7.6</b>
    De manera enunciativa más no limitativa, la conducta de un Usuario será considerada violatoria de los presentes Términos y Condiciones en cualquiera de las siguientes circunstancias: <b>a)</b> Falsedad de declaraciones o publicación de información inexacta, engañosa o fraudulenta en el Dominio, <b>b)</b> Acciones que den motivo suficiente para asumir que puedan causar daños y perjuicios económicos, legales o de cualquier otra índole a BitAztec o al resto de sus Usuarios.
  </p>

  <p><b>8.</b> Jurisdicción y Ley Aplicable</p>
  <p class="indented"><b>8.1</b>
    El presente acuerdo de voluntades se regirá e interpretará de acuerdo con el Código de Comercio y por el Código Civil Federal; y para su interpretación y cumplimiento las Partes se someten expresamente a los Tribunales competentes en la Ciudad de México.
  </p>
</div>
