<% title 'Preguntas Frequentes' %>

<div class="faq">
  <div class="container">
    <h2><b>FAQ</b>. Preguntas y respuestas frequentes</h2>

    <div class="questions">
      <div>
        <p>¿Qué es BitAztec?</p>
        <p>BitAztec es una plataforma enfocada a la venta de Bitcoins de una manera fácil, rápida, segura y anónima.<br/>
        Actualmente Bitaztec se encuentra en México y permite la compra de Bitcoins mediante depósito en pesos Mexicanos.</p>
      </div>
      
      <div>
        <p>¿Cuáles son las ventajas de BitAztec?</p>
        <p>Aparte de su seguridad, la ventaja principal de BitAztec es que permite recibir Bitcoins en cualquier tipo de billetera electrónica (Wallet) que usted proporcione. No se cobran comisiones y se pueden realizar
        pedidos desde un mínimo de 100 pesos MXN.</p>
      </div>

      <div>
        <p>¿Cuánto tardo en recibir los Bitcoins una vez realizado mi pago?</p>
        <p> Generalmente el tiempo de liberación es de menos de 20 minutos, incluso instantáneo. Debido a que el depósito debe de ser verificado por un asesor puede variar el tiempo fuera de horario de oficina.</p>
      </div>

      <div>
        <p>¿Qué necesito para comprar en Bitaztec?</p>
        <p>Es necesario crear una cuenta dentro de nuestra plataforma mediante la confirmación de un correo electrónico. Aparte de su correo electrónico se requiere una billetera electrónica a la cual enviaremos sus Bitcoins.</p>
      </div>

      <div>
        <p>¿Cuánto es la compra mínima y máxima?</p>
        <p>La compra mínima $100.00 pesos, la máxima de $50,000.00</p>
      </div>

      <div>
        <p>¿En qué lugares puedo hacer deposito en efectivo?</p>
        <p> Se puede depositar en cualquiera tienda Oxxo, 7 Eleven y sucursales Bancarias. También contamos con depósito en cajeros ATM (PractiCajas) de Bancomer o Banamex.</p>
      </div>

      <div>
        <p>¿En que sucursales bancarias puedo depositar?</p>
        <p>Las sucursales bancarias son Banamex, Bancomer, Santander, Scotiabank, HSBC y Banorte.</p>
      </div>

      <div>
        <p>¿Qué debo de proporcionar como comprobante de pago?</p>
        <p>Al momento de realizar la compra se requiere que usted suba una foto o scan de su recibo de pago. Los formatos aceptados son TIFF, JPEG, GIF, PNG o PDF. Este comprobante también le servirá para cualquier aclaración.</p>
      </div>

      <div>
        <p>¿Se aceptan tarjetas de crédito/debito?</p>
        <p>Actualmente <b>NO</b> se aceptan pagos con tarjeta</p>
      </div>

      <div>
        <p>¿Cómo es supervisado el proceso de compra para la liberación de mi pedido?</p>
        <p>El proceso siempre debe de ser supervisado por un asesor el cual enviara las Bitcoins a su Billetera electrónica una vez registrado su pago. En todo momento del proceso debe de asistirle.</p>
      </div>

      <div>
        <p>¿Se aceptan devoluciones en BitAztec?</p>
        <p><b>No.</b> Una vez que el Bitcoin es liberado hacia su billetera electrónica no se aceptaran devoluciones. Usted puede cancelar u omitir la compra en cualquiera de los pasos antes sea enviado a su billetera.
        Esto se debe a que el precio de la moneda es fluctuante.</p>
      </div>

      <div>
        <p>¿Se paga alguna comisión?</p>
        <p>Depende del modo de pago pueden existir comisiones por parte de la institución que proporciona el
        servicio p ej. Oxxo. Por parte de BitAztec <b>NO</b> existe ninguna comisión fuera del precio establecido.</p>
      </div>

      <div>
        <p>¿Qué es una billetera virtual?</p>
        <p>La billetera virtual consiste en una dirección en internet donde podrás guardar de manera segura tu moneda electrónica. BitAztec ofrece la facilidad de mandar a cualquier billetera de su preferencia para su uso instantáneo.</p>
      </div>

      <div>
        <p>¿De qué depende el precio del Bitcoin?</p>
        <p>El precio se ajusta de acuerdo a la demanda del mercado internacional y nacional. Según las tendencias
        económicas en el país y la demanda su precio puede ser diferente del mercado internacional.</p>
      </div>

      <div>
        <p>¿Es legal hacer estas transacciones?</p>
        <p>Aunque Bitcoin no es una moneda que cuente con un curso establecido en México su compra y venta
        no es ilegal según los avisos emitidos por la Condusef y El Banco de México.</p>
      </div>

      <div>
        <p>¿A qué público va dirigido este tipo de servicios?</p>
        <p>Apunta tanto a la población que se dedica a la compra y venta del Bitcoin como a la población que se encuentran afectados por las restricciones cambiarias. Se pretende abarcar también el mercado de remesas. También resulta una opción útil para inversionistas.</p>
      </div>

      <div>
        <p>¿Qué es un Bitcoin?</p>
        <p>Bitcoin es una forma de moneda digital creada y mantenida electrónicamente. Bitcoin se caracteriza por ser descentralizado y utiliza un sistema de prueba de trabajo para impedir el doble gasto. Es un tipo de monda que no necesitan de intermediarios como bancos y está basada en un código abierto. Bitcoin es un proyecto innovador en constante evolución y cambio.</p>
      </div>
    </div>
  </div>
</div>
