<% title 'Preguntas Frequentes' %>

<div class="faq">
  <div class="container">
    <h2><b>FAQ</b>. Preguntas y respuestas frequentes</h2>

    <div class="questions">
      <div>
        <p>¿Qué es BitAztec?</p>
        <p>Somos una plataforma Mexicana de venta de Bitcoins de manera fácil, rápida, segura y anónima.</p>
      </div>

      <div>
        <p>¿Cuáles son las ventajas de BitAztec?</p>
        <p>Es compatible con cualquier billetera electrónica, además de que es altamente seguro.</p>
      </div>

      <div>
        <p>¿Qué es una billetera electrónica?</p>
        <p>Consiste en una dirección en internet donde podrá guardar de manera segura su moneda electrónica.</p>
      </div>

      <div>
        <p>¿Puedo comprar Bitcoins con cualquier moneda?</p>
        <p>No, actualmente se pueden adquirir únicamente con pesos mexicanos.</p>
      </div>

      <div>
        <p>¿Existe un mínimo y máximo de pedido?</p>
        <p>Sí, la compra mínima es de $100.00 MXN y la máxima es de $50,000.00 MXN.</p>
      </div>

      <div>
        <p>¿Cuál es el tiempo de espera?</p>
        <p>La liberación de Bitcoins suele ser de menos de 20 minutos, o incluso instantánea.</p>
      </div>

      <div>
        <p>¿En qué lugares puedo hacer el depósito en efectivo?</p>
        <p>En cualquier tienda OXXO, 7-Eleven y sucursales bancarias o en cajeros ATM (PractiCajas) de Bancomer o Banamex.</p>
      </div>

      <div>
        <p>¿En qué sucursales bancarias puedo depositar?</p>
        <p>Banamex, Bancomer, Santander, Scotiabank, HSBC y Banorte.</p>
      </div>

      <div>
        <p>¿Se aceptan pagos en tarjeta de crédito/débito?</p>
        <p>No. Actualmente no se aceptan pagos con tarjeta.</p>
      </div>

      <div>
        <p>¿Existen devoluciones en BitAztec?</p>
        <p>No. Una vez que los Bitcoins se liberen en su billetera electrónica, no se aceptarán devoluciones. La compra se puede cancelar en cualquiera de los pasos anteriores.</p>
      </div>

      <div>
        <p>¿Cómo se supervisa el proceso de compra?
        <p>Éste siempre será supervisado por un asesor el cual enviara las Bitcoins a su Billetera electrónica una vez registrado su pago. En todo momento del proceso debe de asistirle.</p>
      </div>

      <div>
        <p>¿Debo proporcionar un comprobante de pago?
        <p>Sí. Al momento de realizar su compra, deberá adjuntar una fotografía o scan (TIFF, JPEG, GIF, PNG o PDF) de su recibo de pago.</p>
      </div>

      <div>
        <p>¿Qué es un Bitcoin?
        <p>Bitcoin es una moneda digital creada y mantenida electrónicamente, no necesita de intermediarios como bancos y está basada en un código abierto. Se caracteriza por ser descentralizada y por utilizar un sistema de prueba de trabajo para impedir el doble gasto.</p>
      </div>

      <div>
        <p>¿De qué depende el precio del Bitcoin?
        <p>Según tendencias económicas, el precio se ajusta conforme a la demanda del mercado nacional e internacional.</p>
      </div>

      <div>
        <p>¿Es legal?
        <p>Aunque Bitcoin no es una moneda que cuente con un curso establecido en México su compra y venta no es ilegal según los avisos emitidos por la Condusef y El Banco de México.</p>
      </div>

      <div>
        <p>¿Se paga alguna comisión?
        <p>No existen comisiones fuera del precio establecido por parte de BitAztec.</p>
      </div>

      <div>
        <p>¿A quién le puede interesar este tipo de servicios?
        <p>A aquellos que se dedican a la compraventa de Bitcoins, al mercado de remesas e inversionistas.</p>
      </div>

    </div>
  </div>
</div>
