<% title '¿Cómo funciona?' %>

<div class="howto">
  <div class="container">
    <h2>Cómo funciona?</h2>

    <div class="steps">
      <div class="step">
        <div class="image">
        </div>
        <div class="description">
          <p>Regístrese en nuestra plataforma, únicamente requerimos su correo electrónico.</p>
        </div>
      </div>

      <div class="step">
        <div class="image">
        </div>
        <div class="description">
          <p>Ingrese la cantidad de Bitcoins que desee.</p>
        </div>
      </div>

      <div class="step">
        <div class="image">
        </div>
        <div class="description">
          <p>Contamos con depósito en tiendas OXXO, 7Eleven y sucursales bancarias. También se aceptan transferencias bancarias.</p>
        </div>
      </div>

      <div class="step">
        <div class="image">
        </div>
        <div class="description">
          <p>Deberá proporcionar su cartera electrónica (wallet) a la cual enviaremos los Bitcoins. <a href="#">¿Cómo crear un wallet?</a></p>
        </div>
      </div>

      <div class="step">
        <div class="image">
        </div>
        <div class="description">
          <p>Al completar su pago, finalmente deberá subir una foto o scan de su recibo.</p>
        </div>
      </div>

    </div>

  </div>
</div>
