<% title '¿Cómo funciona?' %>

<div class="howto">
  <div class="container">
    <h2>¿Cómo funciona?</h2>

    <div class="steps">
      <div class="step">
        <div class="image step-1">
        </div>
        <div class="description">
          <p>Regístrese en nuestra plataforma, únicamente se require su correo electrónico.</p>
        </div>
      </div>

      <div class="step">
        <div class="image step-2">
        </div>
        <div class="description">
          <p>Ingrese la cantidad de Bitcoins que desea adquirir.</p>
        </div>
      </div>

      <div class="step">
        <div class="image step-3">
        </div>
        <div class="description">
          <p>Pague mediante transferencia bancaria, depósito en sucursal bancaria, tiendas OXXO y 7-eleven.</p>
        </div>
      </div>

      <div class="step">
        <div class="image step-4">
        </div>
        <div class="description">
          <p>Proporcione su cartera electrónica (wallet) a la cual enviaremos los Bitcoins. <a href="https://bitcoin.org/es/elige-tu-monedero">¿Cómo crear un wallet?</a></p>
        </div>
      </div>

      <div class="step">
        <div class="image step-5">
        </div>
        <div class="description">
          <p>Envíe un comprobante de su recibo al finalizar su pago.</p>
        </div>
      </div>

    </div>

  </div>
</div>
