<% title 'Acuerdo legal y aviso de privacidad' %>

<div class="legal">
  <div class="container">
    <h2>Acuerdo <b>legal</b></h2>

    <div class="tabs">
      <button class="active" data-tab="terms">Terminos y condiciones de uso</button>
      <button data-tab="privacy">Aviso de privacidad</button>
    </div>

    <%= render 'pages/terms' %>
    <%= render 'pages/privacy' %>

    <div class="download">
      <hr>
      <p>Descargar archivo PDF de:</p>
      <ul>
        <li><a href="/terminos.pdf" download>Terminos y condiciones de uso</a></li>
        <li><a href="/privacidad.pdf" download>Aviso de privacidad</a></li>
      </ul>
    </div>
  </div>
</div>
