<% title 'Acuerdo legal y aviso de privacidad' %>

<div class="legal">
  <div class="container">
    <h2>Acuerdo legal y Aviso de Privacidad</h2>
    
    <div class="terms">
      <p>BITAZTEC (el “Responsable”), con domicilio en la calle Av. Moliere 50 Polanco, Granada Ciudad de México, CDMX, México, con código postal 11550, es responsable de los datos personales sensibles y no sensibles que por este medio pudieran ser recabados, los cuales tendrán la finalidad de servir como base para el registro y alta de sus Usuarios, y así estar en posibilidad de ofrecer sus productos y servicios de manera efectiva.</p>
      
      <p>Usted puede en cualquier momento consultar el Aviso de Privacidad completo a dando click <%= link_to 'aqui', '/privacidad.pdf' %>.</p> 
    </div>
  </div>
</div>
