<% title 'Acuerdo legal y aviso de privacidad' %>

<div class="legal">
  <div class="container">
    <h2>Acuerdo legal y Aviso de Privacidad</h2>
    
    <div class="terms">
      <p>It is important to us that you, and our other visitors, have the best possible time while using our site, and that when you use this site you are fully aware of your respective legal rights and obligations. For that reason, we have created these Terms of Service as the legally binding terms to govern your use of this site. Please read these Terms of Service carefully before using the site because they affect your legal rights and obligations.</p> 

      <p>These Terms of Service ("agreement") is a legal agreement covering the provision of LocalBitcoins.com services ("service" or "services") by LocalBitcoins Oy ("LocalBitcoins.com" or "LocalBitcoins" or "us" or "our" or "we") to you as an individual ("you" or "your"). Your use of the services will be governed by this agreement, along with the LocalBitcoins.com privacy policy. Please read this agreement carefully before using LocalBitcoins.com. By using the service, you agree to become bound by the terms and conditions of this agreement.</p>
      
      <h3>Your Acceptance of Terms</h3>

      <p>If you do not agree with any of these Terms of Service please do not use this site, by using this Site you will be deemed to have irrevocably agreed to these terms. Please note that these Terms of Service may be revised and reissued without notice at any time. You should visit this page regularly to review the current Terms of Service, since your continued use of the site will be deemed as irrevocable acceptance of any revisions.</p>

      <h3>Allowed jurisdictions</h3>

      <p>Services provided by LocalBitcoins Oy might not be legally allowed in certain jurisdictions. By accepting these terms and services you confirm that you are not a resident of a such jurisdiction, including, but not limited to the Federal Republic of Germany and State of New York in the United States of America.</p>

    </div>
  </div>
</div>
