<h1>Mensaje nuevo</h1>
<p>Nuevo mensaje para el pedido #<%= @order.id %></p>
<p><%= @msg.user.email %></b> dice: "<%= @msg.body %>"</p>
<p>Puedes contestar <%= link_to 'aqui', url_for(@order) %>.</p>

