<h1>Pedido nuevo</h1>
<p>El usuario <%= @order.user.email %> ha solicitado <%= @order.amount %> btc a <%= @order.price %>.</p>
<p>Puedes ver la página del pedido <%= link_to 'aqui', url_for(@order) %>, para ofrecer asistencia.</p>
