# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d8ffd4eea53f9a1213eed272527c16ab002cc861081dc6b89f6bba1b04d9946066baef44d3fc1ee392a142ac9f83aac1c129f62b22f2b58f8b67466123808408

test:
  secret_key_base: 4666242e39d90294774e5480a5f7822c612c44a3c6e9080b4f9b1dca5eeaacdf15ac1cf0b86c3bcc8a1353fd92e6224f7d306690fd20fa60d182d636ee6934d3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
