<p class="page"><i class="fa fa-credit-card"></i> Métodos de pago</p>

<nav class="breadcrumb">
  <a href="<%= admin_payment_methods_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> Métodos
  </a>
  <span class="breadcrumb-item active">método nuevo</span>
</nav>

<%= render 'form', payment_method: @payment_method %>
