/*
  User Account (control panel)
*/

@import 'colors';

.account {
  flex: 1;
  background-color: $lgrey;
  background-image: image-url('face.png');
  background-size: cover;
  padding: 50px 0;

  h2 {
    text-align: center;
    color: $blue;
    font-size: 2em;
    margin-bottom: 40px;
  }

  .container {
    position: relative;
    background: $white;
    box-shadow: 0px 2px 2px $mgrey;

    .icon {
      margin: 20px 0;
      background: image-url('icons/account.png') no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px;
      text-align: center;
      display: inline-block;
    }
  }

  b {
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
  }

  hr {
    border: none;
    border-bottom: 1px solid #eee;
  }

  .data {
    background: $blue;
    padding: 1em;

    p {
      text-align: center;
      color: $white;
      font-weight: 300;
      margin-bottom: 4px;
      font-size: 0.9em;

      &:last-child {
        margin-top: 2em;
      }

      b {
        font-weight: 600;
      }

      a {
        color: $white;
        font-size: 0.9em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }

    & > div {
      flex: 1;
      min-width: 320px;
    }
  }

  .show-notifications {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: $white;
    text-align: right;
    min-width: 50px !important;
    padding: 0.5em;
    font-size: 0.9em;
    font-weight: 200;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background: $lgrey;
    }

    button {
      margin-left: 0.5em;
    }
  }

  button {
    float: right;
    border: none;
    border-radius: 3px;
    background: $white;

    &.active {
      background: $red;
      color: $white;
    }
  }

  .notifications {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: $blue;
    box-shadow: 0px 3px 10px $grey;
    min-height: 200px;
    z-index: 999;
    color: $white;
    
    .heading {
      overflow: auto;
      padding: 0.5em;

      small {
        font-size: 0.8em;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      text-decoration: none;
      color: $black;
    }

    .notification {
      padding: 0.5em;
      transition: all .2s;
      color: $white;
      font-weight: 200;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);

      &:hover {
        background: $white;
        color: $black;
      }

      span {
        font-size: 0.8em;
      }

      p {
        margin-top: 0.5em;
        font-weight: 400;
      }
    }

    .no-notifs {
      text-align: center;
      color: $white;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      min-height: inherit;

      p {
        flex: 1;
      }
    }
  }

  .pending {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3em;

    h2 {
      margin-bottom: 1em;
    }

    .order {
      flex: 1;
      padding: 1em;
      border-top: 2px solid $blue;
      border-bottom: 2px solid $blue;

      p b {
        color: $blue;
      }

      .expires-at {
        font-size: 0.8em;
      }

      table {
        max-width: 80%;
        margin: 1em auto;
        text-align: center;

        th {
          color: $blue;
        }

        th, td {
          padding: 0.5em;
        }
      }

      .see-receipt {
        display: inline-block;
        background: $blue;
        padding: 5px 10px;
        font-size: 1em;
        text-decoration: none;
        color: $white;
        transition: all .2s;
        float: right;
        position: relative;
        top: -5px;
        font-weight: 200;

        &:hover {
          opacity: 0.7;
        }
      }

      span {
        font-weight: 600;
      }
    }

    .no-order {
      text-align: center;
      color: $ldgrey;

      a {
        font-weight: 300;
        color: $blue;
        text-decoration: none;
        transition: all .2s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .history {
    padding: 5em 1em 3em;

    .table-container {
      overflow: auto;
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }

    table {
      width: 90%;
      margin: 0 auto;
    
      thead {
        tr th {
          padding: 0.5em 1em;
          background: $blue;
          color: $white;
          text-align: center;
          font-weight: 200;
        }
      }

      tr td {
        padding: 1em;
        font-size: 0.9em;
      }

      a {
        color: $blue;
        text-decoration: none;

        &:visited {
          color: $blue;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .account {
    .data {
      position: static !important;
      margin: 10px 0 30px;

      p {
        text-align: center !important;
      }
    }
  }
}
