@import 'colors';

.account {
  background-color: $lgrey;
  //background-image: image-url('face.png');
  background-size: cover;
  padding: 50px 0;

  h2 {
    text-align: center;
    color: $blue;
    font-size: 2em;
    margin-bottom: 40px;
  }

  .container {
    position: relative;
    background: $white;
    padding: 20px;
    box-shadow: 0px 2px 2px $mgrey;

    .icon {
      margin: 20px 0;
      background: image-url('icons/account.png') no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px;
      text-align: center;
      display: inline-block;
    }
  }

  b {
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
  }

  hr {
    border: none;
    border-bottom: 1px solid #eee;
  }
  
  .data {
    position: absolute;
    top: 15px;
    right: 20px;

    p {
      text-align: right;
      color: $mgrey;
      font-weight: 300;
      margin-bottom: 4px;
      font-size: 0.9em;
    }
  }

  table {
    text-align: left;
    border: 1px solid $ldgrey;
    border-radius: 3px;

    thead {
      th {
        font-weight: 600;
        background: $lgrey;
      }
    }

    td, th {
      padding: 5px;
      border: 1px solid $ldgrey;
    }

    a {
      color: $blue;
      text-decoration: none;
      transition: all .2s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    
    & > div {
      flex: 1;
      min-width: 320px;
    }
  }

  .notifications {
    margin-right: 20px;
    margin-bottom: 40px;
    max-height: 300px;
    overflow: scroll;

    h2 {
      margin-bottom: 20px;
      position: relative;

      small {
        font-size: 0.5em;
        position: absolute;
        top: 7px;
        right: 0px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      text-decoration: none;
      color: $black;
    }

    .notification {
      border: 1px solid $ldgrey;
      margin: 10px 0;
      padding: 5px;
      transition: all .2s;
      
      &:hover {
        background: $lgrey;
      }

      span {
        color: $ldgrey;
        font-size: 0.8em;
      }
    }

    .no-notifs {
      border: 1px solid $ldgrey;
      padding: 10px;
      text-align: center;
      color: $ldgrey;
    }
  }

  .pending {
    .order {
      margin-top: 20px;
      border: 1px solid $ldgrey;
      padding: 10px;
      
      p {
        margin-bottom: 10px;

        &:last-child {
          margin: 0;
        }
      }

      .see-receipt {
        display: inline-block;
        background: $green;
        padding: 5px 10px;
        font-size: 1em;
        text-decoration: none;
        color: $white;
        transition: all .2s;

        &:hover {
          opacity: 0.7;
        }
      }

      span {
        font-weight: 600;
      }
    }

    .no-order {
      border: 1px solid $ldgrey;
      padding: 10px;
      text-align: center;
      color: $ldgrey;
      margin-top: 20px;

      a {
      font-weight: 300;
        color: $blue;
        text-decoration: none;
        transition: all .2s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .history {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;

    .table-container {
      overflow: scroll;
    }
    
    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
    
    table {
      width: 100%;
    } 
  }
}

@media (max-width: 768px) {
  .account {
    .notifications .mark-as-read {
      float: none !important;
      display: block !important;
      position: static !important;
      margin-top: 5px;
      position: static;
      text-align: center;
    }

    .grid .notifications {
      margin-right: 0;
    }

    .data {
      position: static !important;
      margin: 10px 0 30px;
      
      p {
        text-align: center !important;
      }
    }
  }
}
