@import 'colors';

.account {
  background-image: image-url('face.png');
  background-size: cover;
  padding: 50px 0;

  h2 {
    text-align: center;
    color: $blue;
    font-size: 2em;
    margin-bottom: 40px;
  }

  .container {
    position: relative;
    background: $white;
    padding: 20px;
    box-shadow: 0px 2px 2px $mgrey;

    .icon {
      margin: 20px 0;
      background: image-url('icons/account.png') no-repeat;
      background-size: cover;
      width: 80px;
      height: 80px;
      text-align: center;
      display: inline-block;
    }
  }

  b {
    font-weight: bold;
  }

  margin-top: 20px;

  h2 {
    font-size: 1.5em;
  }

  hr {
    border: none;
    border-bottom: 1px solid #eee;
  }
  
  .data {
    position: absolute;
    top: 15px;
    right: 20px;

    p {
      text-align: right;
      color: $mgrey;
      font-style: italic;
      font-weight: 300;
      margin-bottom: 4px;
      font-size: 0.9em;
    }
  }

  table {
    text-align: left;
    border: 1px solid $ldgrey;

    thead {
      th {
        font-weight: 600;
        background: $grey;
      }
    }

    td, th {
      padding: 5px;
      border: 1px solid $ldgrey;
    }
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    
    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    
    & > div {
      flex: 1;
      min-width: 320px;
    }
  }

  .notifications {
    margin-right: 20px;
    margin-bottom: 40px;
    max-height: 300px;
    overflow: scroll;

    h2 {
      small {
        font-size: 0.5em;
        float: right;
        position: relative;
        top: 10px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    a {
      text-decoration: none;
      color: $black;
    }

    .notification {
      border: 1px solid $ldgrey;
      margin-bottom: 10px;
      padding: 5px;
      transition: all .2s;
      
      &:hover {
        background: $lgrey;
      }

      span {
        color: $ldgrey;
        font-size: 0.8em;
      }
    }

    .no-notifs {
      border: 1px solid $ldgrey;
      padding: 10px;
      text-align: center;
      color: $ldgrey;
      margin-top: 20px;
    }
  }

  .pending {
    .order {
      margin-top: 20px;
      border: 1px solid $ldgrey;
      padding: 10px;
      
      p {
        margin-bottom: 10px;
      }

      span {
        font-weight: 600;
      }
    }

    .no-order {
      border: 1px solid $ldgrey;
      padding: 10px;
      text-align: center;
      color: $ldgrey;
      margin-top: 20px;
    }
  }

  .history {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;

    .table-container {
      overflow: scroll;
    }
    
    h2 {
      font-size: 1.5em;
      margin-bottom: 20px;
    }
    
    table {
      width: 100%;
    } 
  }
}

@media (max-width: 768px) {
  .notifications .mark-as-read {
    float: none !important;
    display: block !important;
    position: static !important;
    margin-top: 5px;
  }

  .grid .notifications {
    margin-right: 0;
  }

  .data {
    position: static !important;
    margin: 10px 0 30px;
    
    p {
      text-align: center !important;
    }
  }
}
