@import 'colors';

.buy {
  background-image: image-url('aztec.png');
  background-size: cover;
  padding: 50px 0;

  form {
    display: none;
  }
  
  .container {
    h1 {
      font-size: 2em;
      text-align: center;
      margin-bottom: 40px;
      color: $blue;
    }

    max-width: 700px;
    margin: 0 auto;

    .steps-tabs {
      overflow: auto;
      display: block;

      .tab {
        text-align: center;
        padding: 10px 0;
        float: left;
        width: 33.33%;
        color: $white;
        background: $blue;
        font-weight: bold;

        &.active {
          background: $yellow;
        }
      }
    }

    .steps {
      background: $white;
      max-width: inherit;
      height: auto;
      box-shadow: 0px 2px 2px $mgrey;

      .step {
        background: $white;
        padding: 20px;
        padding-bottom: 0;
        height: auto;
        display: none;

        &.active {
          display: block;
        }
      }

      .content {
        margin: 40px 0;
      }

      input[type=text],
      input[type=number] {
        margin: 10px auto;
        font-size: 1em;
        width: 100%;
        max-width: 300px;
        padding: 5px;
        text-align: center;
        background: $white;
        outline: none;
        border: 1px solid $grey;
        display: block;

        &:focus {
          border-color: $blue;
        }
      }

      .step-1 {
        text-align: center;

        #order_price {
          color: $dgrey;
          font-weight: bold;
        }
      }

      .step-3 {
        text-align: center;

        span {
          font-weight: bold;
        }
      }

      h3 {
        font-size: 1.2em;
        text-align: center;
        color: $dgrey;
      }

      .navigation {
        padding: 0 0 40px;
        width: 100%;
        background: $white;

        .buttons {
          text-align: center;
        }

        .prev, .make-order {
          display: none;
        }

        .make-order {
          background: $green;
        }

        button {
          font-size: 1em;
          text-align: center;
          border-radius: 10px;
          background: $blue;
          color: $white;
          border: 3px solid $yellow;
          box-shadow: 0px 5px 8px $grey;
          padding: 10px 25px;
          text-align: center;
          text-decoration: none;
          transition: all .2s;
          margin: 0 10px;

          &:hover {
            box-shadow: 0px 5px 15px $grey;
          }
        }
      }
    }  
  }
}
