@import 'colors';

.buy {
  background: $lgrey;
  //background-image: image-url('aztec.png');
  background-size: cover;
  padding: 50px 0;

  form {
    display: none;
  }
  
  .container {
    h1 {
      font-size: 2em;
      text-align: center;
      margin-bottom: 40px;
      color: $blue;
    }

    max-width: 700px;
    margin: 0 auto;

    .steps-tabs {
      overflow: auto;
      display: block;

      .tab {
        text-align: center;
        padding: 10px 0;
        float: left;
        width: 33.33%;
        color: $white;
        background: $blue;
        font-weight: bold;

        &.active {
          background: $yellow;
        }
      }
    }

    .steps {
      background: $white;
      max-width: inherit;
      height: auto;
      box-shadow: 0px 2px 2px $mgrey;

      .step {
        background: $white;
        padding: 20px;
        padding-bottom: 0;
        height: auto;
        display: none;

        &.active {
          display: block;
        }
      }

      .content {
        max-width: 80%;
        margin: 40px auto;
      }

      input[type=text],
      input[type=number] {
        margin: 30px auto;
        font-size: 1.1em;
        width: 85%;
        padding: 5px;
        text-align: center;
        background: $white;
        outline: none;
        border: none;
        border-bottom: 1px solid $grey;
        display: block;
        box-shadow: 0px 2px 2px $lgrey;

        &:focus {
          border-color: $blue;
        }
      }

      .icon {
        height: 30px;
        width: 30px;
        display: block;
        float: left;
        background-size: cover;

        &.btc {
          background-image: image-url('icons/btc.png');
        }

        &.s {
          background-image: image-url('icons/s.png');
        }
      }

      .step-1 {
        text-align: center;

        p {
          margin-top: 20px;
          color: $yellow; 
        }

        #order_price {
          font-weight: bold;
        }
      }

      .step-2 {
        .types {
          width: 100%;
          display: flex;
          padding: 10px 0;
          justify-content: center;
          flex-flow: row wrap;

          div {
            flex: 1;
            width: 100%;
            cursor: pointer;
            text-align: center;
            height: 100px;
            background: $yellow;
            color: $white;
            margin: 5px;
            box-shadow: 0px 2px 2px $mgrey;
            border: 1px solid rgba(0, 0, 0, 0);
            font-size: 1.3em;
            transition: all .2s;
            display: flex;

            &:hover {
              box-shadow: 0px 2px 10px $mgrey;
            }

            span {
              margin: auto;
            }
          }

          div:first-child {
            background: $blue;
          }

          div:last-child {
            background: $red;
          }

          div.selected {
            border: 1px solid $blue;
            background: $white;
            color: $blue;
          }
        }

        .options {
          max-width: 98%;
          margin: 20px auto;
          
          div {
            display: none;
            cursor: pointer;
            border: 1px solid $blue;
            box-shadow: 0px 2px 2px $mgrey;
            padding: 10px;
            margin-bottom: 20px;
            background: $lgrey;
            transition: all .2s;

            &.selected {
              background: $white;
            }
          }
        }
      }

      .step-3 {
        text-align: center;

        span {
          font-weight: bold;
        }
      }

      h3 {
        font-weight: 300;
        font-size: 1.2em;
        text-align: center;
        color: $dgrey;
      }

      .navigation {
        padding: 0 0 40px;
        width: 100%;
        background: $white;

        .buttons {
          text-align: center;
        }

        .prev, .make-order {
          display: none;
        }

        .make-order {
          background: $green;
        }

        button {
          font-size: 1em;
          text-align: center;
          border-radius: 10px;
          background: $blue;
          color: $white;
          border: 3px solid $yellow;
          box-shadow: 0px 5px 8px $grey;
          padding: 10px 25px;
          text-align: center;
          text-decoration: none;
          transition: all .2s;
          margin: 0 10px;

          &:hover {
            box-shadow: 0px 5px 15px $grey;
          }
        }
      }
    }  
  }
}

@media (max-width: 760px) {
  .buy {
    .step-2 {
      .types {
        flex-flow: column wrap !important;
      }
    }
  }
}
