/* Client site main colors */

$black: #000;
$white: #fff;
$lwhite: rgba(255, 255, 255, 0.8);
$grey:  #ddd;
$mgrey: #999;
$dgrey:  #555;
$ldgrey:  #888;
$lgrey: #efefef;
$blue:  rgb(1, 66, 149);
$dblue: rgb(0, 48, 109);
$red: rgb(226, 24, 51);
$yellow: rgb(219, 180, 121);
$green: #70A26F;
$slgrey: #F9FAFC;
