@import 'colors';

.home {
  background: #ECECEC;

  .call-to-action {
    text-align: center;

    a {
      border-radius: 10px;
      background: $blue;
      color: $white;
      //font-weight: bold;
      border: 3px solid $yellow;
      font-size: 1.5em;
      box-shadow: 0px 5px 8px $dgrey;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      width: auto;
      margin: 0 auto;
      display: inline-block;
      transition: all .2s;

      &:hover {
        box-shadow: 0px 5px 15px $dgrey;
      }
    }
  }

  .leader {
    background-image: image-url('building.png');
    background-size: cover;
    padding: 140px 0;

    .price {
      background-image: image-url('fade.png');
      background-position: center;
      background-size: 80%;
      background-repeat: no-repeat;
      color: $white;
      font-size: 3em;
      text-align: center;
      font-weight: 600;
      text-shadow: 0px 2px 5px $dgrey;
      margin-bottom: 40px;
      padding: 15px 30px;
    }
  }

  .mentions {
    text-align: center;
    padding: 60px 0 30px;
    background: #ECECEC;

    img {
      max-width: 220px;
    }

    .grid-cell {
      height: 37px;
      padding-top: 0;
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: image-url('external.png');
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: 100% auto;
        cursor: pointer;
      }

      &.cript span {
        background-position: center -37px;
      }

      &.coindesk span {
        background-position: center -78px;
      }

      &.diario span {
        background-position: center -117px;
      }
    }
  }

  .info {
    padding: 55px 0;
    background-image: image-url('aztec.png');
    background-size: 100%;

    .description {
      max-width: 250px;
      margin: 0 auto;
      color: $blue;
      text-align: center;
      margin-bottom: 50px;

      p {
        margin-top: 10px;
        color: $dgrey;
      }
    }

    h2 {
      font-size: 2em;
      font-weight: bold;
      text-shadow: 0 1px 8px $ldgrey;
    }

    .features {
      margin-bottom: 50px;

      .feature {
        text-align: center;
        color: $dgrey;

        p {
          max-width: 200px;
          margin: 0 auto;
        }

        h3 {
          font-size: 1.3em;
          font-weight: 600;
          margin-bottom: 10px;
        }

        img {
          max-height: 66px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    .leader {
      padding: 80px 0;

      .price {
        background-size: 100%;
        background-repeat: repeat;
      }
    }

    .mentions {
      display: none;
      .grid {
        flex-flow: column no-wrap;
      
        .grid-cell {
          height: 57px;
          margin-bottom: 10px;

          &.cript span {
            background-position: center -57px;
          }

          &.coindesk span {
            background-position: center -114px;
          }

          &.diario span {
            background-position: center -171px;
          }
        }
      }
    }
  }
}
