@import 'colors';

.howto {
  background-color: $lgrey;
  //background-image: image-url('aztec.png');
  background-size: cover;
  padding: 50px 0;
  
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 2em;
    color: $blue;
    text-align: center;
    margin-bottom: 40px;
  }

  .steps {
    .step {
      margin-bottom: 20px;
      overflow: auto;
      height: 120px;
      min-height: 100px;
      box-shadow: 0 2px 2px $mgrey;

      .image {
        min-height: 100%;
        width: 30%;
        float: left;
        background: $blue;
        background-image: image-url('how.png');
        background-position: center top;
        
        &.step-1 {
          //background-image: image-url('how/1.png');
        }

        &.step-2 {
          //background-image: image-url('how/2.png');
          background-position: center -120px;
        }

        &.step-3 {
          //background-image: image-url('how/3.png');
          background-position: center -240px;
        }

        &.step-4 {
          //background-image: image-url('how/4.png');
          background-position: center -360px;
        }

        &.step-5 {
          //background-image: image-url('how/5.png');
          background-position: center -480px;
        }
      }

      .description {
        min-height: 100%;
        width: 70%;
        float: right;
        background-color: $white;
        display: table;

        p {
          padding: 10px;
          color: $blue;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .home {
    
  }
}
