@import 'colors';

.legal {
  margin: 50px 0 100px;

  .container {
    max-width: 650px;
  }

  h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 40px;
  }

  .terms {
    h3 {
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
      color: $yellow;
    }

    p {
      text-align: justify;
      text-indent: 2em;
      margin: 10px 0 30px;
      line-height: 1.5em;
    }
  }
}
