/*
  Order page (receipt)
*/

@import 'colors';

b {
  font-weight: bold;
}

.receipt {
  p {
    line-height: normal;
  }

  h2 {
    color: $blue;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  padding: 50px 0;
  background-color: $lgrey;
  background-image: image-url('aztec.png');
  background-size: cover;

  h5.step {
    font-size: 3em;
    font-weight: bold;
    color: $blue;
  }

  p.description {
    text-align: center;
    margin-bottom: 2em;
  }

  .container {
    background: $white;
    margin-top: 3em;
  }

  .status {
    padding: 1em;
    background: $white;
    color: $blue;
    text-align: center;
  }

  .meta {
    display: flex;

    h3 {
      margin-bottom: 2em;
      font-weight: bold;
      text-align: center;
    }

    .cost {
      flex: 1;
      padding: 2em;

      h3 {
        color: $blue;
      }

      table {
        margin-top: 1em;
        width: 100%;
        border-collapse: collapse;
        text-align: center;

        td {
          padding: 1em 0;

          &:last-child {
            font-weight: bold;
          }

          &.amount {
            color: $blue;

          }
        }
      }
    }

    .time {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2em;
      background: $blue;
      color: $white;
      align-items: center;
      justify-content: center;
      font-weight: 200;

      p {
        line-height: 2em;
      }

      .time-left {
        margin-top: 1em;
        font-style: italic;
      }
    }
  }

  .method {
    padding: 2em;

    .methods {
      display: flex;

      .bank {
        flex: 1 0 0;
        text-align: center;

        img {
          max-width: 50px;
        }
      }

      .accounts-list {
        margin-bottom: 1.5em;

        span {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }

  .evidence {
    padding: 2em;
    background: $blue;
    color: $white;

    .step, h2 {
      color: $white;
    }

    .current-evidence {
      display: flex;
      max-width: inherit;
      margin-top: 1em;

      div {
        flex: 1;

        img {
          max-width: 100%;
        }
      }
    }

    em {
      font-style: italic;
      font-size: 0.8em;
    }

    form {
      max-width: 300px;
      margin: 0 auto;
      text-align: center;

      .file-upload {
        &.hidden {
          display: none;
        }
      }

      .re-upload {
        color: $white;
        text-decoration: none;
        transition: all .2s;
        font-weight: 200;
        margin-top: 10px;
        display: block;

        &:hover {
          opacity: 0.8;
        }
      }

      .evidence-preview {
        display: flex;
        max-width: 100%;
        margin-top: 1em;

        &.hidden {
          display: none;
        }
        
        img {
          flex: 2 0 0;
          border: none;
          max-height: 100px;
          object-fit: cover;
        }

        button {
          flex: 1 0 0;
          background: none;
          border: none;
          font-size: 1em;
          font-weight: 200;
          transition: all .2s;
          background: $white;
          color: $blue;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .add-wallet {
    padding: 2em;

    form {
      max-width: 400px;
      margin: 0 auto;

      input[type=text] {
        width: 99%;
        border: 2px solid $blue;
        font-size: 1em;
        height: 2em;
        text-align: center;
      }

      button {
        display: block;
        padding: 1em;
        font-size: 1em;
        background: $blue;
        color: $white;
        width: 100%;
        border: none;
        margin-top: 1em;
        font-weight: 200;
        transition: all .2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .notification {
    padding: 1em;
    text-align: center;

    a {
      color: $yellow;
      text-decoration: none;
    }
  }

  .chatbox {
    position: fixed;
    bottom: 0;
    right: 50px;
    background: $white;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 2em;
    box-shadow: 0 0px 10px rgba(100, 100, 100, 0.5);
    max-width: 300px;
    min-width: 300px;
    height: 400px;

    .head {
      padding-top: 1em;
    }

    &.hidden {
      cursor: pointer;
      bottom: -383px;
      background: $blue;
      color: $white;

      h3 button {
        display: none;
      }
    }

    .message-list {
      max-height: 270px;
      overflow: scroll;
    }

    h5 {
      display: none;
    }

    .small {
      font-size: 0.8em;
      color: $dgrey;
    }
  
    h3 {
      text-align: center;
      font-size: 1em;
      font-weight: 200;
      padding-bottom: 1em;
      border-bottom: 1px solid $blue;
      margin-bottom: 1em;
      position: relative;

      button {
        padding: 0;
        margin: 0;
        position: absolute;
        top: -12px;
        right: 0;
        font-size: 2em;
        font-weight: 100;
        border: none;
        background: none;
        color: $dgrey;
        cursor: pointer;
        transition: all .2s;
        outline: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    hr {
      display: none;
    }

    textarea {
      width: 98%;
      border: 1px solid $grey;
      font-size: 0.8em;
      margin-top: 1em;
      resize: none;
    }

    button {
      margin-top: 0.5em;
      float: right;
      background: $blue;
      color: $white;
      border: none;
      font-size: 1em;
      font-weight: 200;
    }

    .who, img {
      display: none;
    }

    .msg {
      display: block;
      overflow: auto;

      .small {
        font-size: 0.7em;
        display: block;
        margin-top: 0.5em;
        color: $blue;
        font-weight: 200;
      }

      .content {
        color: $blue;
        background: $white;
        border: 1px solid $blue;
        float: right;
        display: block;
        width: 70%;
        padding: 0.5em;
        font-size: 0.9em;
        border-radius: 3px;

        &.user {
          color: $white;
          background: $blue;
          float: left;

          .small { color: $white; }
        }
      }
    }
  }

  .cancel-order {
    font-size: 0.8em;
    padding: 1em;

    a {
      color: $red;
      text-decoration: none;
      transition: all .2s;
      
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 700px) {
  .receipt {
    .meta {
      display: block;

      .cost {
        border-top: 1px solid $blue;
      }

      & > div {
        display: block;
      }
    }

    h5.step {
      text-align: center;
    }
  }
}
