.pending-buy {
  padding-bottom: 50px;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  button,
  input[type=submit] {
    padding: 10px;
    font-size: 1em;
    border-radius: 3px;
    background: #ddd;
    border: 1px solid #ccc;
    color: #000;
    margin-top: 20px;
  }

  form {
    input[type=text],
    input[type=number] {
      margin-bottom: 20px;
      font-size: 1em;
      width: 300px;
      height: 30px;
      border-radius: 3px;
      border: 1px solid #ddd;
      outline: none;

      &:focus {
        border-color: #000;
      }
    }

    label {
      margin-right: 10px;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #ddd;
  }

  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;

    td, th {
      border: 1px solid #ddd;
      padding: 10px;
    }
  }
}

.pending-buy {
  .evidence-preview {
    img {
      max-width: 200px;
    }
  }
}
