@import 'colors';

b {
  font-weight: bold;
}

.receipt {
  h2 {
    color: $blue;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40px;
  }

  padding: 50px 0;
  background-color: $lgrey;
  background-image: image-url('aztec.png');
  background-size: cover;

  .container {
    background: $white;
    padding: 20px;
    box-shadow: 0px 2px 2px $mgrey;

    .structure {
      margin-top: 20px;
      display: flex;
      flex-flow: row wrap;

      & > div {
        flex: 1;
        flex-grow: 1;
      }

      h3 {
        font-size: 1.2em;
        color: $dgrey;
        margin-bottom: 20px;
      }

      hr {
        margin: 20px 0;
        border: none;
        border-top: 1px solid $grey;
      }

      .data, .method {
        padding: 10px 20px;
        background: $slgrey;
        p {
          line-height: 2em;
          span {
            font-weight: 300;
          }
        }
      }

      .invoice {
        background: $white;

        p {
          display: block;
          overflow: auto;
          padding: 20px 20px;
          border-bottom: 1px solid $lgrey;

          &:first-child {
            border-top: 1px solid $lgrey;
          }

          span {
            color: $green;
            float: right;
          }
        }
      }

      .method {
        p:last-child {
          color: $dgrey;
        }
      }

      .accounts {
        padding: 10px;

        li {
          margin-bottom: 10px;

          span {
            background: $lgrey;
            padding: 0 3px;
            border-radius: 3px;
          }
        }
      }

      .evidence-preview {
        margin: 10px 0;

        img {
          max-width: 150px;
        }
      }

      .re-upload-evidence {
        display: none;
      }

      .wallet {
        border: 2px solid $grey;
        font-size: 1em;
        outline: none;
        margin: 10px 0;
        width: 98%;
        padding: 5px;
        transition: all .2s;

        &:focus {
          border-color: $blue;
        }
      }

      img.img-thumbnail {
        margin: 10px 0;
        max-width: 150px;
      }

      .address {
        margin: 10px 0 20px;
        span {
          background: $lgrey;
        }
      }

      .follow-through, .evidence {
        padding: 0 20px 20px;
        background: $slgrey;
      }

      .evidence {
        padding-top: 20px;
        border-top: 2px solid $lgrey;
      }

      .paper {
        input[type=submit] {
          background: $green;
          color: $white;
          border: none;
          font-size: 1em;
          padding: 10px 20px;
          transition: all .2s;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .messages {
    margin-left: 20px;
    max-width: 300px;
    min-width: 250px;

    h5 {
      margin-bottom: 10px;
      font-size: 1em;
    }

    p.text-muted {
      display: none;
    }

    .message-list {
      max-height: 200px;
      overflow: scroll;
      overflow-x: hidden;
      border-top: 1px solid $grey;
      padding-top: 10px;

      br:last-child {
        display: none;
      }

      .media {
        padding-bottom: 5px;
        overflow: auto;

        &:last-child {
          padding-bottom: 0;
        }

        img {
          width: 20px;
          height: 20px; float: left;
          margin-right: 5px;
        }

        .media-body {
          .small {
            font-size: 0.8em;
            color: $mgrey;
          }
        }

        .content {
          display: block;
          margin-top: 10px;
        }
      }
    }

    .reply {
      textarea {
        width: 98%;
        border: 2px solid $mgrey;
        transition: all .2s;
        outline: none;
        font-size: 1em;
        height: 50px;

        &:focus {
          border-color: $blue;
        }
      }

      button {
        margin-top: 5px;
        background: $blue;
        border: 1px solid $blue;
        font-size: 1em;
        padding: 5px 10px;
        color: $white;
        transition: all .2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .cancel-order {
    text-decoration: none;
    color: $blue;
    transition: all .2s;

    &:hover {
      opacity: .7;
    }
  }
}

@media (max-width: 760px) {
  .receipt {
    .structure {
      .messages {
        margin: 10px 0 0;
        border-top: 2px solid $lgrey;
        padding-top: 20px;
      }

      .paper {
        .address span {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}
