@import 'colors';

b {
  font-weight: bold;
}

.receipt {
  h2 {
    color: $blue;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40px;
  }

  padding: 50px 0;
  background-image: image-url('face.png');
  background-size: cover;

  .container {
    background: $white;
    padding: 20px;
    box-shadow: 0px 2px 2px $mgrey;

    .structure {
      display: flex;

      & > div {
        flex-grow: 1;
        order: 1;
      }

      h3 {
        font-size: 1.2em;
        color: $dgrey;
        margin-bottom: 20px;
      }

      hr {
        margin: 20px 0;
        border: none;
        border-top: 1px solid $grey;
      }

      .data {
        .numbers {
          text-align: center;
        }
        .total {
          font-weight: bold;
        }
        p {
          margin-bottom: 10px;
        }
      }

      .evidence-preview {
        margin: 10px 0;
        
        img {
          max-width: 150px;
        }
      }

      .wallet {
        border: 2px solid $grey;
        font-size: 1em;
        outline: none;
        margin: 10px 0;
        width: 98%;
        padding: 5px;
        transition: all .2s;

        &:focus {
          border-color: $blue;
        }
      }

      img.img-thumbnail {
        margin: 10px 0;
        max-width: 150px;
      }

      .address {
        margin: 10px 0 20px;
        span {
          background: $lgrey;
        }
      }

      .paper {
        input[type=submit] {
          background: $green;
          color: $white;
          border: none;
          font-size: 1em;
          padding: 10px 20px;
          transition: all .2s;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .messages {
    margin-left: 20px;
    max-width: 300px;
    min-width: 250px;
  
    h5 {
      margin-bottom: 10px;
      font-size: 1em;
    }

    p.text-muted {
      display: none;
    }

    .message-list {
      max-height: 200px;
      overflow: scroll;
      border-top: 1px solid $grey;
      padding-top: 10px;

      br:last-child {
        display: none;
      }

      .media {
        padding-bottom: 5px;
        overflow: auto;

        &:last-child {
          padding-bottom: 0;
        }
        
        img {
          width: 20px;
          height: 20px; float: left;
          margin-right: 5px;
        }

        .media-body {
          .small {
            font-size: 0.8em;
            color: $mgrey;
          }
        }

        .content {
          display: block;
          margin-top: 10px;
        }
      }
    }

    .reply {
      textarea {
        width: 98%;
        border: 2px solid $mgrey;
        transition: all .2s;
        outline: none;
        font-size: 1em;
        height: 50px;

        &:focus {
          border-color: $blue;
        }
      }

      button {
        margin-top: 5px;
        background: $blue;
        border: 1px solid $blue;
        font-size: 1em;
        padding: 5px 10px;
        color: $white;
        transition: all .2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
