<div class="errors">
	<div class="btc"></div>
	<h1>Error interno del sistema! <b>:(</b></h1>
	<p>Ocurrió un error en el sistema, los administradores han sido notificados, tu sugerimos intentar la operación de nuevo.</p>
	<p><%= link_to 'Llevame a mi cuenta', orders_path %></p>
</div>
