<div class="ui three column centered grid">
  <div class="column">
    <h3>
      Editar configuración
      <small>&middot; <%= link_to 'cancelar', admin_settings_path %></small>
    </h3>

    <%= render 'form', setting: @setting %>
  </div>
</div>

