<% title 'Configuraci贸n' %>

<p class="page"><i class="fa fa-gears"></i> Configuraci贸n</p>

<nav class="breadcrumb">
  <a href="<%= admin_settings_path %>" class="breadcrumb-item">
    <i class="fa fa-angle-left"></i> Configuraci贸n
  </a>
  <span class="breadcrumb-item active">nueva configuraci贸n</span>
</nav>

<div class="row justify-content-lg-center">
  <div class="col-lg-6">
    <%= render 'form', setting: @setting %>
  </div>
</div>

