<div class="ui three column centered grid">
  <div class="column">
    <h2>
      Nueva configuración
      <small>&middot; <%= link_to 'cancelar', admin_settings_path %></small>
    </h2>

    <%= render 'form', setting: @setting %>
  </div>
</div>

