// Default mail style

body {
  padding: 0;
  background: #f7f7f7;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  background: #fff;
  border-radius: 3px;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
}

h1 {
  font-size: 20px;
}

p {
  margin-top: 0;
  font-size: 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  text-align: left;
  border-collapse: collapse;

  td {
    border: 1px solid #ddd;
    padding: 5px;
  }
}
